@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
/* add color to the body */
body{
    background-color: rgb(186, 204, 204);
}
/* add styles to content area */
#content{
    margin:auto;
    overflow:hidden;
    /* max-width:31000px; */
    height:500px;
    width:800px;
    background-color: rgb(190, 210, 220);
    position:relative;
    top:30%;
    padding:0 2rem;
    text-align: center;
}

/* add styles to button */
.options{
    margin-top:8%;
    padding:0 3% 0% 0 ;
    text-align: center;
    cursor:pointer;
}
.options i:first-child{
    margin-right: 40px;
}

.options i:last-child{
    margin-left: 40px;
}

.options :hover{
    transform: scale(1.2);
    color:rgb(229, 248, 248);
    background-color: black;
}


/* style the restart button */
.replay-btn{
    display:none;
    color:rgb(3, 3, 3);
    padding:6px 6px;
    font-size: 16px;
    cursor: pointer;
    outline:none;
    border:none;
    background-color:rgba(168, 232, 236, 0.582) ;
}

 .replay-btn:hover{
    color:rgb(255, 254, 254);
    background:rgb(1, 127, 136);
}

/* add styles to header */
.header{
    text-align: center;
    margin:3% 0;
}

.header h1{
    font-family: montserrat, Arial, Helvetica, sans-serif;
    top:10%;
    margin:3% 0;
    text-align: center;
}

/* score area */

#score-area{
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-size: 18px;
    position:absolute;
    bottom: 60px;
    left:250px;
}

#score-area p{
    display:inline;
    padding:30px 0 0 20px;
}
/* media queries */
@media (max-width: 600px ){
  .options{
      color:darkcyan;
  }  

} 

@media (max-width: 500px ){ 
    .header{
        float:left;
    }
    .header h1{
        text-align: center;
        font-size: 33px;
    }
    .content{
        float:left;
    }
    .options{
        float: right;
        position: relative;
        top:3%;
        right:40%;
    }
    .replay-btn{
        position:relative;
        top:60%;
    }
    #score-area{
        float:left;
        margin-left: -20%;
    }
}   

@media (max-width: 300px ){
    .options{
        float: right;
        position: relative;
        top:35%;
        right:65%;
        font-size: 8px;
    } 
    .header{
        float:left;
    }

    .header h1{
        text-align: center;
        font-size: 18px;
    }

    #score-area{
        float:left;
        margin-left: -30%;
        font-size: 14px;
    }
}  


@media (max-width: 210px ){
    .options{
        width:45%;
        float:left;
        font-size: 5px;
    }  
    .content{
        text-align: left;
        margin:auto;
    }

    .header{
        text-align: left;
    }

    .header h1{
        text-align: left;
        font-size: 12px;
    }

}  