@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* add styles to content area */
#content{
    margin:auto;
    width:auto;
    height:500px;
    width:800px;
    background-color: rgb(229, 248, 248);
    position:relative;
    padding:0;
}
/* add styles to header */
h1{
    font-family: montserrat, Arial, Helvetica, sans-serif;
    position: absolute;
    top:10%;
    margin:0 0 0 200px;
}
/* add styles to photos */
.rock-photo img{
    height:150px;
    width:auto;
    column-count: 2;
    padding:30px;
    position:absolute;
    top:30%;
    right:10%;
}

.rock-photo{
    cursor: pointer;
}

.rock-photo2{
    cursor: pointer;
}

.rock-photo:hover{
    
}

.rock-photo2 img{
    height:150px;
    width:auto;
    column-count: 2;
    padding:30px;
    position:absolute;
    top:30%;
    left:10%;
   
}

#score-area{
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-size: 18px;
    position:absolute;
    bottom: 60px;
    left:250px;
}

#score-area p{
    display:inline;
    padding:30px 0 0 20px;
}